asgiref==3.11.1
crispy-bootstrap5==2025.6
Django==6.0.2
django-crispy-forms==2.5
django-mathfilters==1.0.0
dj-database-url==2.3.0
requests==2.31.0
et_xmlfile==2.0.0
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.0
pillow==12.1.0
python-dateutil==2.9.0.post0
python-docx==0.8.11
six==1.17.0
gunicorn==23.0.0
psycopg==3.2.12
psycopg-binary==3.2.12
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.9.0
polib==1.2.0
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
reportlab>=4.0.0
